@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Outfit&display=swap');

@font-face {
    font-family: 'Super Space';
    src: url(../fonts/Super\ Space.otf);
}

* {
    box-sizing: border-box;
}

:root {
    --color-tinta: black;
    --color-fondo: white;
    --color-fondo-secundario: #dfdfdf;
    --color-enlace: #0969da;
    --tipo-letra-titulo: Super Space;
    --tipo-letra-texto: 'Outfit', sans-serif;
    --margen: 0.5rem;
    --sombra: 0rem 0rem 1rem 0.3rem gray;
    --sombra-negra: 0rem 0rem 1rem 0.3rem black;
}

body {
    color: var(--color-tinta);
    background-color: var(--color-fondo);
    font-family: var(--tipo-letra-texto);

    margin: 0;

    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--tipo-letra-titulo);
}

a {
    color: var(--color-enlace);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1,
nav,
footer {
    color: var(--color-fondo);
    background-color: var(--color-tinta);

    margin: 0;
    padding: var(--margen);

    text-align: center;
    text-transform: uppercase;
}

h1 {
    border-bottom: 1px solid var(--color-fondo);
}

h3 {
    position: sticky;
    top: var(--margen);

    z-index: 1;

    background-color: var(--color-fondo-secundario);
    border-radius: var(--margen);
    padding: var(--margen);
    box-shadow: var(--sombra-negra);
}

nav ul {

    padding-left: 0;
    margin: 0;

}

nav li {
    list-style: none;
    padding: var(--margen);
}

nav a,
footer a {
    color: var(--color-fondo);
}

main {
    padding: var(--margen);
}

h2 {
    color: var(--color-fondo);

    background: rgb(238, 174, 202);
    background: radial-gradient(at top left, var(--color-fondo-secundario) 0%, var(--color-tinta) 100%);

    text-align: center;
    padding: var(--margen);

    border-radius: var(--margen);
    border: 2px solid white;
    box-shadow: var(--sombra);
    /* calc(-1 * var(--margen)) var(--margen) var(--margen) lightgray; */
}

pre,
code {
    background-color: var(--color-fondo-secundario);
    padding: var(--margen);
    border-radius: var(--margen);

    font-family: 'Martian Mono', monospace;
    font-size: 0.75rem;

    overflow: auto;
}

p {
    line-height: 1.5;
}

strong {
    font-variant: small-caps;
    font-weight: normal;
    font-size: calc(3*var(--margen));
}

ol {

    list-style: upper-roman;
    /* list-style-position: inside; */
}

ol ol {
    padding-left: 1rem;
    list-style: lower-alpha;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: var(--sombra);
}

caption {
    box-shadow: var(--sombra);
    background-color: var(--color-fondo-secundario);
    padding: var(--margen);
    font-weight: bold;
}

thead,
tfoot {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
}

th:first-of-type {
    text-align: right;
}

thead th:not(:first-of-type) {
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--color-fondo-secundario);
}

td,
th {
    border: 1px solid darkgray;

    padding: var(--margen);
}

#multimedia img,
#multimedia audio,
#multimedia video,
#multimedia iframe,
#multimedia .relacion {
    margin: var(--margen) 0;

    border-radius: calc(6 * var(--margen));
    box-shadow: var(--sombra);
    border: 0;
}

#multimedia iframe {
    margin: 0;
}

#multimedia audio {
    border-radius: 100vw;
}

#multimedia>*,
#multimedia img {
    width: 100%;
}

.relacion {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.relacion::after {
    display: block;
    content: "";
}

.relacion iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.relacion.r16x9::after {
    padding-top: 56.25%;
}

.relacion.r4x3::after {
    padding-top: 75%;
}

.relacion.r1x1::after {
    padding-top: 100%;
}

input,
button,
select,
textarea,
fieldset {
    border: 1px solid lightgray;
    border-radius: var(--margen);

    padding: var(--margen);
    margin: var(--margen) 0;

    font-family: var(--tipo-letra-texto);

    width: 100%;
}

button:hover,
input[type=submit]:hover {
    box-shadow: var(--sombra);
}

footer {
    padding-bottom: 2rem;
}

dialog {
    display: none;
}

#arriba i {
    position: fixed;

    bottom: var(--margen);
    right: var(--margen);

    margin: 0;
    padding: var(--margen);
    border: 1px solid var(--color-fondo);
    border-radius: 100vw;
    box-shadow: var(--sombra-negra);

    z-index: 2;
    background-color: var(--color-tinta);

    width: 2rem;
    height: 2rem;
}

#redes-sociales {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

#redes-sociales li {
    list-style: none;
}

#spotify iframe {
    width: 100%;
    height: 443px;
}

@media (min-width: 768px) {
    nav ul {
        display: flex;

        justify-content: space-evenly;
    }

    #html {
        display: flex;
        flex-wrap: wrap;
    }

    h2,
    h3,
    #tablas,
    #multimedia,
    #formularios {
        width: 100%;
    }

    #parrafos {
        width: 75%;
        padding-right: var(--margen);
    }

    #listas {
        width: 25%;
        padding-left: var(--margen);
    }

    #formularios {
        display: flex;
        flex-wrap: wrap;
        gap: var(--margen);
    }

    form:not(:last-of-type) {
        width: calc(50% - var(--margen));
    }

    form:last-of-type {
        display: flex;
        flex-wrap: wrap;
        gap: var(--margen);
    }

    form:last-of-type fieldset {
        width: calc(50% - var(--margen));
        padding: var(--margen);
    }

    textarea {
        height: calc(100% - var(--margen));
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    #arriba i {
        position: static;
    }

    #redes-sociales>* {
        padding: var(--margen);
    }
}

@media (min-width: 1024px) {
    #html {
        display: grid;
        align-items: start;
        gap: calc(2*var(--margen));
        grid-template-columns: 2fr 1fr 1fr;
    }

    h2,
    #multimedia,
    #formularios {
        grid-column-end: span 3;
    }

    #parrafos,
    #listas {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #multimedia {
        display: grid;
        gap: calc(2*var(--margen));
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "titulo-multimedia titulo-multimedia"
            "musica musica"
            "pelicula pelicula"
            "imagen youtube"
            "mapa spotify";
    }

    #multimedia h3 {
        grid-area: titulo-multimedia;
    }

    #multimedia a {
        grid-area: imagen;
    }

    #multimedia audio {
        grid-area: musica;
    }

    #multimedia video {
        grid-area: pelicula;
    }

    #mapa {
        grid-area: mapa;
    }

    #spotify {
        grid-area: spotify;
    }

    #youtube {
        grid-area: youtube;
    }
}

@media (min-width: 1440px) {
    #html {
        grid-template-columns: 3fr repeat(4, 1fr) 3fr;
        grid-template-areas:
            "titulo-html titulo-html titulo-html titulo-html titulo-html titulo-html"
            "parrafos parrafos listas listas tablas tablas"
            "multimedia multimedia multimedia formularios formularios formularios";
    }

    h2 {
        grid-area: titulo-html;
    }

    #parrafos {
        grid-area: parrafos;
    }

    #listas {
        grid-area: listas;
    }

    #tablas {
        grid-area: tablas;
    }

    #multimedia {
        grid-area: multimedia;
    }

    #formularios {
        grid-area: formularios;
    }
}